@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app was created as part of the Eleven Fifty Academy's Red Badge for the software development course, training prospective software developers in the building of Restful .Net Web MVC applications.</p>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
